.Products {
	width: 900px;
	background-color: white;
	border-radius: 20px;
	padding: 0 30px;
}

.products-parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	font-family: Playfair Display;
	font-weight: 800;
	font-style: ExtraBold;
	font-size: 22px;
	padding: 29px 0;
}
