.slider-container {
	position: relative;
	width: 100%; /* ширина как у экрана */
	overflow: hidden; /* скрываем всё за пределами */
    margin: 27px 0 71px;
}

.slider {
	display: flex;
	gap: 45px;
	transition: transform 0.5s ease; /* плавное движение */
}

.slider-img {
	width: 1200px;

	min-width: 40%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-img img {
	width: 100%;
}

.next,
.prev {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #dbe1ed;
    background-color: #fff;
}

.next {
	position: absolute;
	top: 40%;
	right: 145px;
}
.prev {
	position: absolute;
	top: 40%;
	left: 145px;
}